html, body, main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica";
    font-size: 16px;
    min-width: 600px;
    min-height: 800px;
}

/* Main Container */
.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: start;
    height: 100%;
}
.container h1 {
    text-align: center;
}

/* Main Weather Panel Container */
.container-main {
    display: flex;
    flex-flow: row wrap;

    border: 1px solid #cdcecf;
}

/* Daily Forecasts */
.daily-container {
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 100%;

    border: 1px solid #cdcecf;
}

#daily-location {
    text-align: center;
    font-size: 40px;
}
#daily-temperature {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#daily-date {
    text-align: center;
    font-size: 30px;
}
#daily-icon {
    margin: 15px;
    font-size: 50px;
    position: relative;
    left: 50%;
    transform: translate(-40px, 0%);
}

/* Daily Days (5 day) Panels */
.daily-days-container {
    display: flex;
    width: 100%;

    border: 1px solid #cdcecf;
}
.daily-days {
    width: 20%;

    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    border: 1px solid #cdcecf;
}
.daily-day {
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.daily-day-icon {
    width: 100%;
    margin: 15px;
    font-size: 40px;
    /* display: flex; */
    text-align: center;
}
.daily-day-temp {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.daily-day-temp-low {
    width: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.daily-day-temp-high {
    width: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* Panel Container */
.panel-container {
    margin: 0px;
    padding: 1%;

    border: 1px solid #cdcecf;
}
/*  Main Article Image */
.panel-container div img {
    max-width: 100%;
}
/* Main Article Title Header */
.panel-container .title {
    display: table-cell;
    word-wrap: break-word;
    padding: 10px;
    width: 100%;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.panel:hover {
    transform: scale(1.05);
}
/* Panel */
.panel {
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: white;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid #cdcecf;
    border-radius: 1px;
    transition: all 200ms;
}
/* Main Article Description */
.panel-desc {
    padding: 0px 10px;
    font-size: 14px;
    color: darkslategrey;
}
/* Main Article Author */
.panel-author {
    padding: 7px 0px 10px 10px;
    font-size: 12px;
    color: darkslategrey;
}

/* Footer */
.footer {
    width: 100%;
    height: 100px;
    margin: 0px;
    text-align: center;
    padding-top: 15px;
    background: gray;
}

.break {
    display: block;
    width: 100%;
    height: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    .container-main {
        width: 95%;
    }
    .panel-container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .container-main {
        width: 95%;
    }
    .panel-container {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container-main {
        width: 80%;
    }
    .panel-container {
        width: 47%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .panel-container {
        width: 31%;
    }
}