html, body, main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica";
    font-size: 16px;
    min-width: 600px;
    min-height: 2100px;

    background-image: linear-gradient(to bottom right, rgba(0, 200, 255, 0.082), rgba(0, 255, 42, 0.021));
}

a {
    text-decoration: none;
    color: black;
}

/* Main Container */
.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: start;
    height: 100%;
}
.container h1 {
    font-size: 40px;
    text-align: center;
}

/* Main Weather Panel Container */
.container-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* centers all content (widgets) */
    background-color: white;

    border: 1px solid #cdcecf;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
}

/* Daily Forecasts */
.daily-container {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#daily-location {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
}
#daily-icon {
    width: 100%;
    font-size: 80px;
    text-align: center;
}
#daily-temp {
    margin: 15px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#daily-desc {
    text-align: center;
    font-size: 40px;
}
#daily-date {
    margin: 15px 0px;
    text-align: center;
    font-size: 30px;
    color: rgb(85, 85, 85);
}
#daily-metrics {
    margin: 15px 40px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}

/* Daily Days (5 day) Panels */
.daily-days-container {
    display: flex;
    width: 100%;
    font-size: 18px;
}
.daily-days {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 10px;
    background-color: #E0E0E0;
    box-shadow: 1px 1px 50px 1px #E0E0E0;
}
.daily-days:hover {
    background-color: #F5F5F5;
}
.daily-day {
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.daily-day-icon {
    width: 100%;
    margin: 15px;
    font-size: 40px;
    text-align: center;
}
.daily-day-temp {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.daily-day-temp-low {
    width: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.daily-day-temp-high {
    width: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* Hour Panels */
/* Hour Container */
.hour-panel-container {
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
    font-size: 20px;
}
.hour-panel {
    display: flex;
    margin: 5px;
    padding: 25px 10px;
    transition: all 200ms;
    text-align: center;

    /* border: 1px solid #cdcecf; */
    box-shadow: 1px 1px 50px 1px #ebebeb;
}
.hour-panel:hover {
    transform: scale(1.05);
}
.hour-panel div {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    width: 100%;
}


/* Weather Panels */
/* Panel Container */
.panel-container {
    margin: 5px;
    /* padding-bottom: 25px; */
}
/* Panel */
.panel {
    height: auto;
    margin: 0px;
    padding: 20px 10px;
    background-color: white;
    word-wrap: break-word;
    overflow: hidden;
    border-radius: 1px;
    transition: all 200ms;
    border: 1px solid #cdcecf;
    box-shadow: 1px 1px 50px 1px #e7e7e7;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    font-size: 20px;
}
.panel:hover {
    transform: scale(1.05);
}
.panel div {
    margin-right: 20px;
}
.panel-icon {
    width: 50%;
    margin: 15px;
    font-size: 40px;
    text-align: center;
}
.panel-info {
    font-weight: bold;
    width: 100%;
    display: flex;
}
.panel-info div {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    width: 100%;
}
.panel.clouds {
    background-color: #B3E5FC;
}
.panel.rain{
    background-color: #2196F3;
}
.panel.snow{
    background-color: #84FFFF;
}
.panel.wind {
    background-color: #9C27B0;
}
.panel.humidity {
    background-color: #4CAF50;
}
.panel.pressure {
    background-color: #F44336;
}

/* Footer */
.footer {
    width: 100%;
    height: 100px;
    margin: 0px;
    text-align: center;
    padding-top: 15px;
    background: gray;
}

.break {
    display: block;
    width: 100%;
    height: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    .container-main {
        width: 95%;
    }
    .panel-container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .container-main {
        width: 95%;
    }
    .panel-container {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container-main {
        width: 80%;
    }
    .panel-container {
        width: 47%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .panel-container {
        width: 31%;
    }
}